<!DOCTYPE html>
<html>
<head>
	<title>About {{user.alias}}</title>
</head>
<body>
	<p><a href="{% url 'home' %}">Home</a> | <a href="/add">Add book and review</a> | <a href="/logout">Logout</a></p>
	<br>
	<h2>User Alias: {{user.alias}}</h2>
	<h3>Name: {{user.name}}</h3>
	<h3>Email: {{user.email}}</h3>
	<h3>Total Reviews: {{user.reviews_left.all.count}}</h3>

	<h2>Posted Reviews on the Folowing Books:</h2>
        {% for book in my_book_reviews %}
        <h3><a href="{{book.id}}">{{book.title}}</a></h3>
        {% endfor %}


</body>
</html>