<!DOCTYPE html>
<html>
<head>
	<title>Add Book</title>
</head>
<body>
	<p><a href="{% url 'home' %}">Home</a> | <a href="/logout">Logout</a></p>
	{% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
	<h2>Add a New Book Title and Review!</h2>
	<!-- error message here -->
	<form action="{% url 'create' %}" method="post">
		{% csrf_token %}
		<p>Book Title: <input type="text" name="title"></p>

		<p>Author</p>
		<p>Choose from the list: 
			<select name="author">
				 {% for author in authors %}
                        <option value="{{author.id}}">{{author.name}}</option>
                    {% endfor %}
			</select>
		</p>
		
		<p>Or add a new author: <input type="text" name="new_author"></p>
		
		<p>Review: </p>
		<p><textarea rows="5" cols="40" type="text" name="review"></textarea></p>
		
		<p>Rating: 
			<select name="rating">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
		</p>
		<p><a href="{% url 'home' %}"><input type="submit" value="Add Book and Review"></a></p>
	</form>

</body>
</html>